*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #1F2937;
}
header{
    color: white;
    /* border: solid red; */
    height: 55rem;
    width: 100%;
    margin: 0 auto;
    background-image: url(img/andreea-avramescu-v_hBNRgyuFw-unsplash.jpg);
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

/* logo */
header nav a#logo{
    font-size: 24px;
    margin-top: 1rem;
    color: #f9faf8;
    text-decoration: none;
}
nav, nav ul, nav + section{
    display: flex;
    justify-content: space-around;
   
}
nav + section + div + div{
  /* wait */
}
nav ul{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 3rem;

}

/* hero section */
nav + section{
    margin: 5rem;
}
nav + section div + div{
    height: 250px;
    width: 300px;
}
nav + section div img{
   object-fit: cover;
   height: 100%;
   width: 100%;
}
nav + section h1{
    text-transform: capitalize;
    width:70%;
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 5rem;
    /* font-size: 48px; */
}
nav + section p, nav ul li a{
    color: #e5e7eb;
    font-size: 2rem;
    /* font-size: 18px; */
}
nav + section p{
    width: 50%;
}
main section{
   height: 200px;
   width: 100%;
}

/* main sections */
main > h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
main section.boxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
   text-align: center;    /*i centered the container itself so that the imgs inside the container be centered or use flexbox to use align-items: center; */
   padding: 3rem;
}
main section.boxes div img{
    width: 100px;
    height: auto;
}


main section.boxes div{
    margin: 10px;
}
main section.boxes div p{
    text-align: start;
    
}

main section.quote{
    background-color: #e5e7eb;
    height: auto;
    padding: 4rem;
}
main section.quote p, main section.quote span{
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    color: #1f2937;
    
}
main section.quote span{
    display: block;
    text-align: end;
}

main section + section + section{
    width: 70%;
    margin: 5rem auto;
    padding-left: 10%;
    background-color: #3882f6;
    height: 140px;
    color: #fff;
}
main section + section + section h3{
    margin-top: 2rem;
    font-size: 1.5rem;
}
main section + section + section span{
    margin-left: 2.5rem;
    border: 2px solid #fff;
    padding: 0.5rem 1rem ;
    border-radius: 10%;
}

/* This is the "ourServices" page styles */
section#TheCalculator, section#TheCalculator + p{
    border: 2px solid black;
    width: 500px;
    margin: 2rem auto;
}
section#TheCalculator ul{
    list-style: none;
}
section#TheCalculator ul li{
    font-size: larger;
    border: 2px solid;
    width: fit-content;
    
}
section#TheCalculator ul li:hover{
    cursor: pointer;
}
section#TheCalculator + p{
    border:none;
}
/* footer */
footer{
    color: white;
    height: 35px;
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
}